



*,
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
}

.list-reset {
    list-style: none;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 987px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 480px) {
    .container {
        max-width: 420px;
    }
}

:root {
    --main-color: #0C5991;
    --bg-color: #ECF3F5;
    --btn-color: #DC513A;
}

mark {
    background: var(--main-color);
    color: white;
}

.main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #252323;
}

.header {
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .header {
        min-width: 480px;
    }
}

.top-header {
    position: relative;
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top-header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .top-header__text {
        font-size: 8px;
        line-height: 15px;
    }
}

.top-header-left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-header-left__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-header-left__item {
    margin-left: 10px;
}

@media (max-width: 480px) {
    .top-header-left__item {
        max-width: 22px;
        padding: 5px 0;
    }
}

.top-header-right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-header-right__link {
    position: relative;
    color: #fff;
    padding-left: 10px;
}

@media (max-width: 873px) {
    .top-header-right__link {
        display: none;
    }
}

.main-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bottom-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 986px) {
    .bottom-header {
        display: none;
    }
}

.bottom-header__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bottom-header__item {
    margin-right: 20px;
}

.bottom-header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #232323;
}

.section-one {
    position: relative;
    min-width: 440px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 30px;
}

.section-one__title {
    position: relative;
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

@media (max-width: 986px) {
    .section-one__title {
        font-size: 26px;
        line-height: 33px;
    }
}

.section-one-img {
    position: relative;
    max-width: 100%;
}

@media (max-width: 480px) {
    .section-one-img {
        max-width: 480px;
    }
}

.section-two {
    position: relative;
    margin-bottom: 50px;
}

.section-two-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}

@media (max-width: 480px) {
    .section-two-container {
        min-width: 100%;
    }
}

.section-two-content {
    position: relative;
    background-color: #fff;
    padding: 30px 0;
}

.padding-fix {
    padding: 0 30px;
}

@media (max-width: 986px) {
    .section-two-content {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .section-two-content {
        min-width: 375px;
    }
}

.section-two__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #252323;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .section-two__title {
        margin-bottom: 15px;
    }
}

.section-two__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #252323;
    margin-bottom: 30px;
}

.section-two__list {
    position: relative;
    background-color: var(--bg-color);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.section-two__item {
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 28px;
    margin-bottom: 31px;
}

.item-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.item-header__descr {
    padding-left: 10px;
}

.item-header__descr p {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}

.item-header__descr small {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
}

.item-main {
    position: relative;
}

.item-main img {
    margin-bottom: 15px;
}

.item-main p {
    margin-bottom: 14px;
}

.item-bottom {
    position: relative;
}

.item-bottom__line {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-bottom__item {
    background-color: #E3E3E3;
    border-radius: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 6px 4.5px 9.5px;
    margin-right: 10px;
}

.item-bottom img {
    padding-right: 7.33px;
}

.section-two-product {
    position: relative;
    padding-left: 146px;
    margin-bottom: 54px;
}

@media (max-width: 480px) {
    .section-two-product {
        padding-left: 56px;
    }
}

.section-two-product__img {
    position: absolute;
    top: -30px;
    left: 0;
    max-width: 100%;
}

@media (max-width: 480px) {
    .section-two-product__img {
        max-width: 159px;
        top: -7px;
    }
}

.section-two-product-box {
    background-color: #E5F7FF;
    border-radius: 10px;
    height: 194px;
    padding: 60px 0px 19px 100px;
}

@media (max-width: 480px) {
    .section-two-product-box {
        padding: 30px 12px 0px 102px;
    }
}

.section-two-product__title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 62px;
}

@media (max-width: 480px) {
    .section-two-product__title {
        margin-bottom: 35px;
    }
}

.section-two-product__title span {
    font-size: 26px;
}

.section-two-product__price {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #252323;
    margin-bottom: 5px;
}

.section-two-product__old-price {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #757575;
}

.section-two-product__old-price::before {
    position: absolute;
    content: '';
    width: 61px;
    height: 2px;
    background-color: #DC513A;
    top: 9px;
    left: 3px;
}

.section-two-product__new-price {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #DC513A;
}

@media (max-width: 480px) {
    .section-two-product__new-price {
        font-size: 32px;
    }
}

.section-two-product__sale {
    position: absolute;
    right: 20px;
    bottom: 19px;
}

@media (max-width: 480px) {
    .section-two-product__sale {
        width: 67px;
        height: 67px;
        bottom: 63px;
        right: 8px;
    }
}

.section-two-product__proc {
    position: absolute;
    bottom: 74px;
    right: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .section-two-product__proc {
        display: none;
        font-size: 8px;
        bottom: 100px;
        right: 21px;
    }
}

.section-two-product__number {
    position: absolute;
    bottom: 45px;
    right: 46px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .section-two-product__number {
        bottom: 80px;
        right: 16px;
    }
}

.section-two-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    margin-bottom: 50px;
}

.section-two-form label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #252323;
    margin-bottom: 10px;
    padding-left: 7px;
}

.section-two-form input {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #757575;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 14px 0 13px 10px;
}

.btn-form {
    background: #DC513A;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 19px 91px;
    margin: 0 auto;
    color: #FFFFFF;
}

.section-two-social {
    position: relative;
    margin-bottom: 50px;
}

.section-two-social__btn img {
    max-width: 100%;
}

.section-two-coments {
    position: relative;
    padding-left: 20px;
}

.section-two-coments__item {
    position: relative;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.section-two-coments__item::before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: #0072AC;
    width: 252px;
    bottom: 0;
}

.section-two-coments-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.section-two-coments__face {
    padding-right: 30px;
}

.section-two-coments__face img {
    position: relative;
    min-width: 60px;
    height: 60px;
}

.section-two-coments-text {
    position: relative;
    padding-bottom: 22px;
}

.section-two-coments__name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #252323;
    margin-bottom: 5px;
}

.section-two-coments__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #252323;
    margin-bottom: 10px;
}

.section-two-coments__date {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #B0B0B0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-two-button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer {
    position: relative;
    max-width: 1920px;
    text-align: center;
    background: #14232A;
    padding-top: 28px;
    padding-bottom: 28px;
}

@media (max-width: 480px) {
    .footer {
        min-width: 480px;
    }
}

.footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #7C8589;
}

.footer p a {
    color: #fff;
    text-decoration: underline;
}

.section-two-right {
    position: relative;
    padding-left: 21px;
}

@media (max-width: 986px) {
    .section-two-right {
        display: none;
    }
}

.typeoff {
    display: none;
}

@media (max-width: 480px) {
    .typeoff {
        display: block;
    }
}

.link__tab::before {
    position: absolute;
    content: "";
    top: 0;
    left: 20px;
    width: 300px;
    height: 50px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-40 {
    margin-bottom: 40px;
}

.black-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
}

.margin-10 {
    margin-bottom: 10px;
}

.dummy_rev {
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 23px 19px 15px;
    display: flex;
}

.dummy-text {
    max-width: 473px;
    margin-left: 11px;
}

.dummy-author {
    display: flex;
    align-items: center;
}

.dummy-ava {
    width: 62px;
    height: 62px;;
}

.dummy-author p {
    font-weight: 500;
font-size: 16px;
line-height: 130%;
color: #445B7D;
margin-right: 3px;;
}

.dummy-main {
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 5px;
}

.dummy-bot {
    display: flex;
}

.dummy-bot p {
    font-size: 13px;
    line-height: 130%;
    color: #46546E;
    margin-right: 11px;
}

.dummy-bot p.gray {
    color: #AFAFAF; 
}

.dummy-bot img {
    margin-left: -9px;
}

.d-top {
    position: absolute;
    top: 21px;
    right: 23px;
}

.d-bot {
    position: absolute;
    bottom: 23px;
    right: 23px;
}

.order-block {
    width: 100%;
    max-width: 598px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 25px 0 32px;
    background: url('../img/order-desk.jpg') left top no-repeat;
    color: #fff;
    position: relative;
}

.order-top {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    box-sizing: border-box;
    background: #F20083;
    padding: 11px 16px 10px 28px;
    width: 265px;
    margin-bottom: 8px;
}

.logo-main {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 46px;
    text-transform: uppercase;
    margin-left: 28px;
    margin-bottom: 5px;
}

.subheader {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-left: 28px;
    margin-bottom: 5px;
}

.price-block {
    width: 282px;
    box-sizing: border-box;
    background: #F20083;
    padding: 10px 0 5px 29px;
    margin-left: 28px;
}

.p-label {
    font-size: 20px;
    line-height: 23px;
}

.p-old {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 127%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.p-old::before {
    content: '';
    position: absolute;
    width: 200px;
    background: #F20083;
    transform: matrix(1, 0.03, -0.03, 1, 0, 0);
    height: 3px;
    top: 50%;
    left: -5px;
}

.p-new {
    font-weight: bold;
    font-size: 32px;
    line-height: 135%;
    text-transform: uppercase;
}

.main-prod {
    position: absolute;
    left: 250px;
    top: 111px;
}

.disc {
    position: absolute;
    background: url('../img/disc.png') center no-repeat;
    width: 91px;
    height: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 344px;
    top: 319px;
}

.disc p {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.disc span {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.head-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #252323;
    margin: 40px auto 20px;
}

.head-link a {
    text-decoration-line: underline;
color: #445B7D;
}

.textarea {
    background: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.post_comm {
    display: block;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #252323;
}

.no-line::before {
    content: none;
}

@media only screen and (max-width: 767px) {
    .dummy-bot {
        position: relative;
        margin-top: 56px;
    }

    .dummy-bot .mob-fix {
        position: absolute;
        top: -45px;
        left: 0;
    }

    .dummy-bot .mob-fix2 {
        position: absolute;
        top: -23px;
        left: 0;
    }

    .dummy-bot p {
        font-size: 12px;
        margin-right: 8px;
    }

    .order-block {
        background: url('../img/order-mob.jpg') left top no-repeat;
    }

    .subheader {
        margin-bottom: 121px;
    }

    .price-block {
        width: 232px;
        margin-left: 150px;
        padding-left: 32px;
    }

    .main-prod {
        width: 162px;
        top: 309px;
        left: 20px;
    }

    .disc {
        left: 70px;
        top: 288px;
    }

    .header {
        width: 480px;
    }

    .section-two {
        min-width: 480px;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    body, main, html {
        min-width: 480px;
        max-width: 480px;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-two-container {
        min-width: auto;
    }

    footer {
        padding: 30px;
        box-sizing: border-box;
    }
}

.btn-fix {
    background: #F20083;
    width: 200px;
    box-sizing: border-box;
    margin-left: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.order-block {
    margin-bottom: 0;
}

.subheader {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .btn-fix {
        margin-left: 190px;
        margin-bottom: 90px;
    }

    .subheader {
        margin-bottom: 150px;
    }
}